
* {
    font-family: 'Bangers', cursive;
    font-size: 30px;
    letter-spacing: 3px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    font-size: 180px;
}
.subtitle {
    font-size: 40px;
}
.section {
    padding: 100px 0;
}
.charcaters {
    font-family: sans-serif;
    background: white;
    color: black;
    position: relative;
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 60px;
    padding-bottom: 20px;
}
.wrapper{
    width: 100%;
}
.wrapper .carousel {
    max-width: 1200px;
    margin: auto;
    padding: 0 30px;
}

.carousel .box {
    line-height: 255px;
    text-align: center;
    color: black;
    font-size: 80px;
    font-weight: 550;
    margin: 25px 0;
    border-radius: 12px;
    box-shadow: 0px 5px 16px rgba(0,0, 0, 0.3);
}
.carousel .box-1{
    background-color: blue;
}
.carousel .box-2{
    background-color: red;
}
.carousel .box-3{
    background-color: wheat;
}
.carousel .box-4{
    background-color: blue;
}
.carousel .box-5{
    background-color: red;
}
.carousel .box-6{
    background-color: wheat;
}
.carousel .box-7{
    background-color: blue;
}
.carousel .box-8{
    background-color: red;
}
.carousel .box-9{
    background-color: wheat;
}
.carousel .box-10{
    background-color: rgba(red,wheat, blue, alpha);
}
.owl-dots{
    text-align: center;
    margin-top: 42px;
}
.owl-dot{
    height: 18px;
    width: 45px;
    border-radius:  27px;
    cursor: pointer;
    outline: none;
    margin: 0 6px;
    border: 3px solid blue ! important;
    transition: all 0.4s  ease;
}

.owl-dot:hover,.owl-dot.active{
    background-color:blue !important;
}


.bold {
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}

.desc {
    margin: 2px 5px 2px 5px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-top: 5px;
    font: size 20px;
}

Body {
    margin: 2px 5px 2px 5px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-top: 5px;
    font: size 20px;
    align-items: center;
    min-height: 100vh;
}

.marImg {
    margin: auto;
    display: block;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
    justify-content: center;
    align-items: center;
}

#marvelImg {
    margin: auto;
    display: block;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
    justify-content: center;
    align-items: center;
}

.welcome {
    color: #ED1D24;
}

.title .subtitle {
    text-align: center;
}





