
* {
    font-family: 'Bangers', cursive;
    font-size: 30px;
    letter-spacing: 3px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    font-size: 140px;
}

.pop {
    font-size: 60px;
}



section {
    padding: 50px 0;

}
.characters {
    font-family: sans-serif;
    background: white;
    color: black;
    position: relative;
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 60px;
    padding-bottom: 20px;
}
.wrapper{
    width: 100%;
}
.wrapper .carousel {
    max-width: 1200px;
    margin: auto;
    padding: 0 30px;
}

.carousel .box {
    line-height: 255px;
    text-align: center;
    color: black;
    font-size: 80px;
    font-weight: 550;
    margin: 25px 0;
    border-radius: 12px;
    box-shadow: 0px 5px 16px rgba(0,0, 0, 0.3);
}

.box-text{
    position:relative;
    bottom: 160px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: medium;
    color: white;
}

.carousel .box-1{
    background-image: url("https://terrigen-cdn-dev.marvel.com/content/prod/1x/011blw_com_crd_01.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;

}
.carousel .box-2{
    background-image: url("https://terrigen-cdn-dev.marvel.com/content/prod/1x/005smp_com_crd_01.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
}
.carousel .box-3{
    background-image: url("https://terrigen-cdn-dev.marvel.com/content/prod/1x/012scw_com_crd_01.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
}
.carousel .box-4{
    background-image: url("https://terrigen-cdn-dev.marvel.com/content/prod/1x/242shc_com_crd_01.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;;
}
.carousel .box-5{
    background-image: url("https://terrigen-cdn-dev.marvel.com/content/prod/1x/eternals_com_crd_02.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
}
.carousel .box-6{
    background-image: url("https://terrigen-cdn-dev.marvel.com/content/prod/1x/007blp_com_crd_01_0.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
}
.carousel .box-7{
    background-image: url("https://terrigen-cdn-dev.marvel.com/content/prod/1x/_020gga_com_crd_01_0.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
}
.carousel .box-8{
    background-image: url("https://terrigen-cdn-dev.marvel.com/content/prod/1x/009drs_com_crd_01.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
}
.carousel .box-9{
    background-image: url("https://terrigen-cdn-dev.marvel.com/content/prod/1x/006hbb_com_crd_01.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
}
.carousel .box-10{
    background-image: url("https://i.annihil.us/u/prod/marvel/i/mg/d/50/55084123775c2/clean.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
}
.owl-dots{
    text-align: center;
    margin-top: 42px;
}
.owl-dot{
    height: 18px;
    width: 45px;
    border-radius:  27px;
    cursor: pointer;
    outline: none;
    margin: 0 6px;
    border: 3px solid blue ! important;
    transition: all 0.4s  ease;
}

.owl-dot:hover,.owl-dot.active{
    background-color:blue !important;
}


.bold {
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}

.desc {
    margin: 2px 5px 2px 5px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-top: 5px;
    font: size 20px;
}

.Body .searchmatch {
    margin: 2px 5px 2px 5px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-top: 5px;
    font: size 20px;
    align-items: center;
    min-height: 100vh;
}

.marImg {
    margin: auto;
    display: block;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
    justify-content: center;
    align-items: center;
}

#marvelImg {
    margin: auto;
    display: block;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
    justify-content: center;
    align-items: center;
}

.welcome {
    color: #ED1D24;
}

.title .subtitle {
    text-align: center;
}





